<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MainUrl" value="https://accounts.spotify.com/en/login?continue=https:%2F%2Fopen.spotify.com%2Fbrowse%2Ffeatured"/>
		
		<add key="UserName" value="pseudobeastz@gmail.com"/>
		<add key="Password" value="P@ssw0rd"/>

		<add key="SongFilePathName" value="C:\Users\Administrator\Source\Repos\ConsoleAppWorkshop\ConsoleAppWorkshop\TestFiles\Songs.txt"/>
		<add key="SongsToDeleteFromPlaylistFilePathName" value="C:\Users\Administrator\Source\Repos\ConsoleAppWorkshop\ConsoleAppWorkshop\TestFiles\SongsToDeleteFromPlaylist.txt"/>

		<add key="PlayListName" value="My Favz"/>

	</appSettings>
</configuration>